<div class="container-fluid">
    <div class="card-header bg-white">
        <div class="col-sm">
            <div class="row col-sm">
                <div class="col-sm-auto">
                    <h2 id="page-heading">
                        <span jhiTranslate="projetCsidApp.incident.home.title">Incidents</span>
                    </h2>
                </div>

                <div class="col-sm-auto">
                    <button type="submit"
                            class="btn btn-secondary " (click)="saveNonResolu()">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline"></span>
                    </button>
                </div>

                <div class="col-sm-auto">
                    <button type="submit"
                            class="btn btn-success " (click)="saveResolu()">
                        <i class="fas fa-check"></i>
                        <span class="d-none d-md-inline"></span>
                    </button>
                </div>

                <div class="col-sm-auto">
                    <button type="submit"
                            [routerLink]="['/', 'ticket', { outlets: { popup: incidentSuppr + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger ">
                        <i class="far fa-trash-alt"></i>
                        <span class="d-none d-md-inline"></span>
                    </button>
                </div>

                <div class="col-sm-auto">
                    <h2 id="page-heading">
                        <button id="jh-create-entity"
                                class="btn btn-primary float-right jh-create-entity create-incident"
                                [routerLink]="['/ticket/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span jhiTranslate="projetCsidApp.incident.home.createLabel">
                            Create new Incident
                            </span>
                        </button>
                    </h2>
                </div>
            </div>
        </div>

        <ag-grid-angular
            #agGrid
            style="width: 100%; height: 615px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            rowSelection="multiple"
            (rowDoubleClicked)="onRowSelected($event)"
            (rowSelected)="getSelectedRows()"
            [enableCellChangeFlash]="true"
            (gridReady)="gridReady($event)"
        >
        </ag-grid-angular>

        <ng-template #elseBlock>
            <div class="table-responsive" *ngIf="incidents">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.id">ID</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.titre">Titre</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.statut">Statut</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.priorite">Priorite</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.sujet">Sujet</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.categorie">Categorie</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.description">Description</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.dateDebut">Date Debut</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.dateFin">Date Fin</span></th>
                        <th><span jhiTranslate="projetCsidApp.incident.userApp">User App</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let incident of incidents;trackBy: trackId">
                        <td><a [routerLink]="['/ticket', incident.id, 'view' ]">{{incident.id}}</a></td>
                        <td>{{incident.titre}}</td>
                        <td>{{incident.statut}}</td>
                        <td>{{incident.priorite}}</td>
                        <td>{{incident.sujet}}</td>
                        <td>{{incident.categorie}}</td>
                        <td>{{incident.description}}</td>
                        <td>{{incident.dateDebut }}</td>
                        <td>{{incident.dateFin }}</td>
                        <td>
                            <div *ngIf="incident.userApp">
                                <a [routerLink]="['../user-app', incident.userApp?.id, 'view' ]">{{incident.userApp?.user.firstName}}
                                    - {{incident.userApp?.user.lastName}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-3 flex-btn-group-container"
                                     *ngIf="incident.statut == 'En cours'">
                                    <button type="submit"
                                            class="btn btn-secondary " (click)="saveNonResolu(incident)">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline"></span>
                                    </button>
                                    <button type="submit"
                                            class="btn btn-success " (click)="saveResolu(incident)">
                                        <i class="fas fa-check"></i>
                                        <span class="d-none d-md-inline"></span>
                                    </button>
                                </div>
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/ticket', incident.id, 'edit']"
                                            class="btn btn-primary ">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>
</div>
