<!-- Footer -->
<br>
<footer class="page-footer font-small blue pt-4 bg-white sticky-footer border-top">

    <div class="container my-auto">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class="lead mb-0">140 Rue de la Nouvelle France
                    <br>93100 Montreuil</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">A propos de I-Start</h4>
                <p class="lead mb-0">I-Start est un outil de gestion des incidents.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://localhost:8080/"> I-start</a>
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->
