<div class="container-fluid">
    <div class="card">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <h2 id="jhi-licence-heading" jhiTranslate="projetCsidApp.licence.home.createOrEditLabel">Create or edit a Licence</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!licence.id">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="licence.id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projetCsidApp.licence.titre" for="field_titre">Titre</label>
                            <input type="text" class="form-control" name="titre" id="field_titre"
                                [(ngModel)]="licence.titre" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projetCsidApp.licence.prix" for="field_prix">Prix</label>
                            <input type="number" class="form-control" name="prix" id="field_prix"
                                [(ngModel)]="licence.prix" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projetCsidApp.licence.thirdparty" for="field_thirdparty">Thirdparty</label>
                            <select class="form-control" id="field_thirdparty" name="thirdparty" [(ngModel)]="licence.thirdparty" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="thirdpartyOption.id === licence.thirdparty?.id ? licence.thirdparty : thirdpartyOption" *ngFor="let thirdpartyOption of thirdparties; trackBy: trackThirdpartyById">{{thirdpartyOption.id}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projetCsidApp.licence.userLicence" for="field_userLicence">User Licence</label>
                            <select class="form-control" id="field_userLicence" name="userLicence" [(ngModel)]="licence.userLicence">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="userAppOption.id === licence.userLicence?.id ? licence.userLicence : userAppOption" *ngFor="let userAppOption of userlicences; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
