header.masthead {
    padding-top: calc(6rem + 15px);
    padding-bottom: 2rem;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
}

header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Lato';
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(6rem + 15px);
        padding-bottom: 3rem;
    }
    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem;
    }
    header.masthead h2 {
        font-size: 1.75em;
    }
}
