<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-incident-heading" jhiTranslate="projetCsidApp.incident.home.createOrEditLabel">Create or edit a Incident</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!incident.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="incident.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre" required [(ngModel)]="incident.titre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.statut" for="field_statut">Statut</label>
                    <select class="form-control" id="field_statut" name="statut" [(ngModel)]="incident.statut" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="'En cours'" >En cours</option>
                        <option [ngValue]="'resolu'" >resolu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.priorite" for="field_priorite">Priorite</label>
                    <input type="text" class="form-control" name="priorite" id="field_priorite"
                        [(ngModel)]="incident.priorite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.sujet" for="field_sujet">Sujet</label>
                    <input type="text" class="form-control" name="sujet" id="field_sujet"
                        [(ngModel)]="incident.sujet" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.categorie" for="field_categorie">Categorie</label>
                    <input type="text" class="form-control" name="categorie" id="field_categorie"
                        [(ngModel)]="incident.categorie" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="incident.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.dateDebut" for="field_dateDebut">Date Debut</label>
                    <input type="text" name="dateDebut" id="field_dateDebut"
                        [(ngModel)]="incident.dateDebut" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.dateFin" for="field_dateFin">Date Fin</label>
                    <input type="text" class="form-control" name="dateFin" id="field_dateFin"
                        [(ngModel)]="incident.dateFin" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetCsidApp.incident.userApp" for="field_userApp">User App</label>
                    <select class="form-control" id="field_userApp" name="userApp" [(ngModel)]="incident.userApp" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAppOption.id === incident.userApp?.id ? incident.userApp : userAppOption" *ngFor="let userAppOption of userapps; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
