<div [ngSwitch]="isAuthenticated()">

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav" *ngSwitchCase="false">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" routerLink="/">I-Start</a>

            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " href="#contact">Contact</a>
                    </li>

                    <li class="nav-item mx-0 mx-lg-1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/">
                            <i class="fas fa-euro-sign"></i>
                            <span>
                            <span >Tarifs</span>
                        </span>
                        </a>
                    </li>

                    <li ngbDropdown class="nav-item mx-0 mx-lg-1 dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                          <span *ngIf="!getImageUrl()">
                            <fa-icon icon="user"></fa-icon>
                            <span jhiTranslate="global.menu.account.main">
                              Account
                            </span>
                          </span>
                           <span *ngIf="getImageUrl()">
                              <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                          </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                            <li>
                                <a class="dropdown-item" (click)="login()" id="login">
                                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.register">Register</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav *ngSwitchCase="true" class="sidebar">

        <ul class="navbar-nav bg-gradient-primary fixed-top sidebar sidebar-dark accordion" style="overflow-X: auto;" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center navbar-brand logo" routerLink="/" [ngSwitch]="isAuthenticated()">
                <div class="sidebar-brand-icon">
                    <span class="logo-img"></span>
                </div>
            </a>
            <!--
            <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                <fa-icon icon="bars"></fa-icon>
            </a>
            -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <div class="navbar-collapse" id="navbarResponsive">

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                        <span>
                             <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span jhiTranslate="global.menu.home">Home</span>
                        </span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Gestion De L'application
                </div>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

                    <li *jhiHasAnyAuthority="'ROLE_USER_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle collapsed"  href="javascript:void(0);" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <span>
                                <i class="fas fa-fw fa-cog"></i>
                                <span>
                                    Portail
                                </span>
                                <span>
                                    administratif
                                </span>
                            </span>
                        </a>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Espace de gestion :</h6>
                                <a class="collapse-item" routerLink="portailAdministration/mesUtilisateurs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span>Mes Utilisateurs</span>
                                </a>
                                <a class="collapse-item" routerLink="portailAdministration/memberShip" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span>Les postes d'entreprise</span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="ticket" href="javascript:void(0);" id="entity-menu">
                            <i class="fas fa-clipboard-list"></i>
                            <span>
                                <span>Incident</span>
                            </span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                 <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                            <span>
                                <i class="fas fa-th-list"></i>
                                <span jhiTranslate="global.menu.entities.main">
                                    Entities
                                </span>
                            </span>
                        </a>

                        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Gestion des entités :</h6>
                                <a class="collapse-item " routerLink="user-app" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.userApp">User App</span>
                                </a>
                                <a class="collapse-item" routerLink="user-thirdparty-membership" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.userThirdpartyMembership">User Thirdparty Membership</span>
                                </a>
                                <a class="collapse-item" routerLink="thirdparty" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.thirdparty">Thirdparty</span>
                                </a>
                                <a class="collapse-item" routerLink="licence" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.licence">Licence</span>
                                </a>
                                <a class="collapse-item" routerLink="incident" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.incident">Incident</span>
                                </a>
                                <a class="collapse-item" routerLink="user-incident-assigment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <span jhiTranslate="global.menu.entities.userIncidentAssigment">User Incident Assigment</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#admin" aria-expanded="true" aria-controls="admin">
                            <span>
                                <i class="fas fa-user-plus"></i>
                                <span jhiTranslate="global.menu.admin.main">Administration</span>
                            </span>
                        </a>

                        <div id="admin" class="collapse" aria-labelledby="admin" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Partie d'administration :</h6>
                                <a class="collapse-item" routerLink="admin/user-management" routerLinkActive="active">
                                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                                </a>
                                <a class="collapse-item" routerLink="admin/jhi-metrics" routerLinkActive="active">
                                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                                </a>
                                <a class="collapse-item" routerLink="admin/jhi-health" routerLinkActive="active">
                                    <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.health">Health</span>
                                </a>
                                <a class="collapse-item" routerLink="admin/jhi-configuration" routerLinkActive="active">
                                    <fa-icon icon="list" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                                </a>
                                <a class="collapse-item" routerLink="admin/audits" routerLinkActive="active">
                                    <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.audits">Audits</span>
                                </a>
                                <a class="collapse-item" routerLink="admin/logs" routerLinkActive="active">
                                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.logs">Logs</span>
                                </a>

                                <a class="collapse-item" routerLink="admin/docs" routerLinkActive="active">
                                    <fa-icon icon="book" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.admin.apidocs">API</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngIf="languages && languages.length > 1">
                        <a class="nav-link dropdown-toggle collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#langue" aria-expanded="true" aria-controls="langue">
                            <span>
                                <i class="fas fa-flag"></i>
                                <span jhiTranslate="global.menu.language">Language</span>
                            </span>
                        </a>

                        <div id="langue" class="collapse" aria-labelledby="langue" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">choix de langue :</h6>

                                <a class="collapse-item" *ngFor="let language of languages" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);">{{language | findLanguageFromKey}}</a>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#account" aria-expanded="true" aria-controls="account">
                          <span *ngIf="!getImageUrl()">
                            <i class="fas fa-user"></i>
                            <span jhiTranslate="global.menu.account.main">
                              Account
                            </span>
                          </span>
                          <span *ngIf="getImageUrl()">
                              <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                          </span>
                        </a>

                        <div id="account" class="collapse" aria-labelledby="account" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Compte :</h6>

                                <a class="collapse-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.settings">Settings</span>
                                </a>

                                <a class="collapse-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.password">Password</span>
                                </a>

                                <a class="collapse-item" (click)="logout()" id="logout">
                                    <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                </a>

                            </div>
                        </div>

                    </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">


                <!-- Sidebar Toggler (Sidebar) -->
                <div (click)="loadJS()" class="text-center ">
                    <button class="text-center rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </div>

        </ul>

    </nav>
</div>
