<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetCsidApp.userIncidentAssigment.home.title">User Incident Assigments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-incident-assigment" [routerLink]="['/user-incident-assigment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetCsidApp.userIncidentAssigment.home.createLabel">
            Create new User Incident Assigment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userIncidentAssigments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.dateDebut">Date Debut</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.dateFin">Date Fin</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.commentaire">Commentaire</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.status">Status</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.userApp">User App</span></th>
            <th><span jhiTranslate="projetCsidApp.userIncidentAssigment.incident">Incident</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userIncidentAssigment of userIncidentAssigments ;trackBy: trackId">
                <td><a [routerLink]="['/user-incident-assigment', userIncidentAssigment.id, 'view' ]">{{userIncidentAssigment.id}}</a></td>
                <td>{{userIncidentAssigment.dateDebut}}</td>
                <td>{{userIncidentAssigment.dateFin}}</td>
                <td>{{userIncidentAssigment.commentaire}}</td>
                <td>{{userIncidentAssigment.status}}</td>
                <td>
                    <div *ngIf="userIncidentAssigment.userApp">
                        <a [routerLink]="['../user-app', userIncidentAssigment.userApp?.id, 'view' ]" >{{userIncidentAssigment.userApp?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userIncidentAssigment.incident">
                        <a [routerLink]="['../incident', userIncidentAssigment.incident?.id, 'view' ]" >{{userIncidentAssigment.incident?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-incident-assigment', userIncidentAssigment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-incident-assigment', userIncidentAssigment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-incident-assigment', { outlets: { popup: userIncidentAssigment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
