<div class="container-fluid">
    <div class="card">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <h2 id="jhi-user-incident-assigment-heading" >Create or edit a User Incident Assigment</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>                        <div class="form-group" [hidden]="!userIncidentAssigment.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               [(ngModel)]="userIncidentAssigment.id" readonly />
                    </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_commentaire">Commentaire</label>
                            <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                                   [(ngModel)]="userIncidentAssigment.commentaire" />
                        </div>

                        <div class="form-group">
                            <label class="form-control-label"  for="field_userApp">User App</label>
                            <select class="form-control" id="field_userApp" name="userApp" [(ngModel)]="userIncidentAssigment.userApp" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="userAppOption.id === userIncidentAssigment.userApp?.id ? userIncidentAssigment.userApp : userAppOption" *ngFor="let userAppOption of userapps; trackBy: trackUserAppById">{{userAppOption.user.firstName}} {{userAppOption.user.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_incident">Incident</label>
                            <select class="form-control" id="field_incident" name="incident" [(ngModel)]="userIncidentAssigment.incident" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="incidentOption.id === userIncidentAssigment.incident?.id ? userIncidentAssigment.incident : incidentOption" *ngFor="let incidentOption of incidents; trackBy: trackIncidentById">{{incidentOption.id}} : {{incidentOption.titre}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                        <button type="submit" id="save-entity" routerLink="assignement" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Fermer</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
